.cabinet-box {
    background-color: #F8F8F8;
    height: auto;
    min-height: calc(100% - 15px);
    padding: 0 20px;
    margin-bottom: 20px;
}

.cabinet-menu-block {
    margin: 15px 0 0;
}

.cabinet-actions {
    margin-top: 20px;
}

.ads > .ad > .checkbox-block {
    width: auto;
}

.ads .badge-salary {
    position: absolute;
    right: 10px;
    top: 10px;
}

.ads > .ad {
    cursor: pointer;
}

.ads > .ad:hover {
    background-color: lightyellow;
    font-weight: 600;
}

.ads {
    display: inline-block;
    padding: 15px 0;
}

.list-group.ads {
    width: 100%;
    margin-bottom: 0;
}


a[href^="#ad-details-"] {
    vertical-align: sub;
}

pre[id^="ad-details-"] {
    width: 95%;
    margin-top: 10px;
}